In [53]:
#import data in python
import numpy as np
import pandas as pd

In [54]:
#help 
np.info(np.ndarray.dtype) # help for numpy
help(pd.read_csv)    #help for pandas

Data-type of the array's elements.

Parameters
----------
None

Returns
-------
d : numpy dtype object

See Also
--------
numpy.dtype

Examples
--------
>>> x
array([[0, 1],
       [2, 3]])
>>> x.dtype
dtype('int32')
>>> type(x.dtype)
<type 'numpy.dtype'>
Help on function read_csv in module pandas.io.parsers.readers:

read_csv(filepath_or_buffer: 'FilePath | ReadCsvBuffer[bytes] | ReadCsvBuffer[str]', sep=<no_default>, delimiter=None, header='infer', names=<no_default>, index_col=None, usecols=None, squeeze=None, prefix=<no_default>, mangle_dupe_cols=True, dtype: 'DtypeArg | None' = None, engine: 'CSVEngine | None' = None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=None, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression: 'CompressionOptions' = 'infer', thousands=None, decimal: 'str' = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, encoding_errors: 'str | None' = 'strict', dialect=None, error_bad_lines=None, warn_bad_lines=None, on_bad_lines=None, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None, storage_options: 'StorageOptions' = None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handle (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, None, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, optional, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). If ``names`` are given, the document
        header row(s) are not taken into account. For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.

        .. deprecated:: 1.4.0
            Append ``.squeeze("columns")`` to the call to ``read_csv`` to squeeze
            the data.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...

        .. deprecated:: 1.4.0
           Use a list comprehension on the DataFrame's columns after calling ``read_csv``.
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python', 'pyarrow'}, optional
        Parser engine to use. The C and pyarrow engines are faster, while the python engine
        is currently more feature-complete. Multithreading is currently only supported by
        the pyarrow engine.

        .. versionadded:: 1.4.0

            The "pyarrow" engine was added as an *experimental* engine, and some features
            are unsupported, or may not work correctly, with this engine.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparsable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.

        .. versionchanged:: 1.2

           ``TextFileReader`` is a context manager.
    compression : str or dict, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and '%s' is
        path-like, then detect compression from the following extensions: '.gz',
        '.bz2', '.zip', '.xz', or '.zst' (otherwise no compression). If using
        'zip', the ZIP file must contain only one data file to be read in. Set to
        ``None`` for no decompression. Can also be a dict with key ``'method'`` set
        to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``} and other
        key-value pairs are forwarded to ``zipfile.ZipFile``, ``gzip.GzipFile``,
        ``bz2.BZ2File``, or ``zstandard.ZstdDecompressor``, respectively. As an
        example, the following could be passed for Zstandard decompression using a
        custom compression dictionary:
        ``compression={'method': 'zstd', 'dict_data': my_compression_dict}``.

        .. versionchanged:: 1.4.0 Zstandard support.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .

        .. versionchanged:: 1.2

           When ``encoding`` is ``None``, ``errors="replace"`` is passed to
           ``open()``. Otherwise, ``errors="strict"`` is passed to ``open()``.
           This behavior was previously only the case for ``engine="python"``.

        .. versionchanged:: 1.3.0

           ``encoding_errors`` is a new argument. ``encoding`` has no longer an
           influence on how encoding errors are handled.

    encoding_errors : str, optional, default "strict"
        How encoding errors are treated. `List of possible values
        <https://docs.python.org/3/library/codecs.html#error-handlers>`_ .

        .. versionadded:: 1.3.0

    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, optional, default ``None``
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will be dropped from the DataFrame that is
        returned.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    warn_bad_lines : bool, optional, default ``None``
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.

        .. deprecated:: 1.3.0
           The ``on_bad_lines`` parameter should be used instead to specify behavior upon
           encountering a bad line instead.
    on_bad_lines : {'error', 'warn', 'skip'} or callable, default 'error'
        Specifies what to do upon encountering a bad line (a line with too many fields).
        Allowed values are :

            - 'error', raise an Exception when a bad line is encountered.
            - 'warn', raise a warning when a bad line is encountered and skip that line.
            - 'skip', skip bad lines without raising or warning when they are encountered.

        .. versionadded:: 1.3.0

        .. versionadded:: 1.4.0

            - callable, function with signature
              ``(bad_line: list[str]) -> list[str] | None`` that will process a single
              bad line. ``bad_line`` is a list of strings split by the ``sep``.
              If the function returns ``None``, the bad line will be ignored.
              If the function returns a new list of strings with more elements than
              expected, a ``ParserWarning`` will be emitted while dropping extra elements.
              Only supported when ``engine="python"``

    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object

## Plain text files

In [55]:
filename = 'huck_finn.txt'

In [56]:
file = open(filename, mode='w')  
# w, x - Create a new file if it does not exist

In [57]:
file = open(filename, mode='r') # open file for reading

In [58]:
text = file.read() #read files content

In [59]:
print(file.closed) # check whether file is closed

False

In [60]:
file.close() # Close file

In [61]:
print(text)

- "r" - Read - Default value. Opens a file for reading, **error** if the file does not exist

- "a" - Append - Opens a file for appending, creates the file if it does not exist

- "w" - Write - Opens a file for writing, creates the file if it does not exist

- "x" - Create - Creates the specified file, returns an error if the file exists

In [62]:
file = open(filename, mode='w')

In [63]:
file.write("I am good in Python now")

23

In [64]:
file.close()

In [65]:
#open and read the file after writing

In [66]:
file=open(filename, mode="r")

In [67]:
print(file.read())

I am good in Python now

In [68]:
file = open(filename, mode='w')

In [69]:
file.write("Life is set")

11

In [70]:
file.write("I am having fun with coding")

27

In [71]:
file.write('\n')

1

In [72]:
file.write('Beautigul file\nin this soup')

27

In [73]:
file.close()

In [74]:
with open('huck_finn.txt','r') as file:
    print(file.readline()) #read a single line
    print(file.readline())
    print(file.readline())

Life is setI am having fun with coding

Beautigul file

in this soup

# Pickled Files

In Python, we work with high-level data structures such as lists, tuples, and sets. However, when we want to store these objects in memory, they need to be converted into a sequence of bytes that the computer can understand. This process is called **serialization**.

The next time we want to access the same data structure, this sequence of bytes must be converted back into the high-level object in a process known as **deserialization**.

In [81]:
import pickle

In [85]:
filename1='pickled_fruit.pkl'

In [90]:
file = open(filename1, mode='x') #create pickle file

FileExistsError: [Errno 17] File exists: 'pickled_fruit.pkl'

In [88]:
with open('pickled_fruit.pkl','rb') as file:
    pickled_data=pickle.load(file) 
    
    
#EOFError: Ran out of input-pickle file is empty

EOFError: Ran out of input

In [93]:
fruits=['strawberry','Pineapple','Rasberry','Mixed_Fruit']

In [94]:
# open a text file, write the list to it using the dumps() function
with open('pickled_fruit.pkl','wb') as file: #open a text file
    pickle.dump(fruits, file)    #serialize the list

In [95]:
file.close()

In [97]:
#deserialize file and print the list:

with open('pickled_fruit.pkl','rb') as file:
    
    fruits_loaded=pickle.load(file)  #deserialize using load()
    print(fruits_loaded) #print the fruits

['strawberry', 'Pineapple', 'Rasberry', 'Mixed_Fruit']

In [98]:
type(fruits_loaded)

list

# Serializing Machine Learning Models with Pickle

In [99]:
from sklearn.linear_model import LinearRegression
from sklearn.datasets import make_regression

# generate regression dataset
X, y = make_regression(n_samples=100, n_features=3, noise=0.1, random_state=1)

# train regression model
linear_model = LinearRegression()
linear_model.fit(X, y)

LinearRegression()

In [100]:
# summary of the model
print('Model intercept :', linear_model.intercept_)
print('Model coefficients : ', linear_model.coef_)
print('Model score : ', linear_model.score(X, y))

Model intercept : -0.010109549594702116
Model coefficients :  [44.18793068 98.97389468 58.17121618]
Model score :  0.9999993081899219

In [102]:
# serialize this model using Pickle’s dump() function
with open("linear_regression.pkl", "wb") as f:
    pickle.dump(linear_model, f)

In [103]:
# deserialize it using the load() function
with open("linear_regression.pkl", "rb") as f:
    unpickled_linear_model = pickle.load(f)

In [105]:
#serialized model is now loaded and saved into the “unpickled_linear_model” variable. 
# Let’s check this model’s parameters to ensure that it is the same 
# as the one we initially created:


# summary of the model
print('Model intercept :', unpickled_linear_model.intercept_)
print('Model coefficients : ', unpickled_linear_model.coef_)
print('Model score : ', unpickled_linear_model.score(X, y))

Model intercept : -0.010109549594702116
Model coefficients :  [44.18793068 98.97389468 58.17121618]
Model score :  0.9999993081899219

## Files with one data type:

In [111]:
filename3= 'PlayTennis.csv'
data= np.loadtxt(filename3,
    delimiter=',', #String used to separate values 
    skiprows=2, #Skip the first 2 lines 
    usecols=[0,2], #Read the 1st and 3rd column 
    dtype=str) #The type of the resulting array

In [112]:
data

array([['sunny', 'high'],
       ['overcast', 'high'],
       ['rainy', 'high'],
       ['rainy', 'normal'],
       ['rainy', 'normal'],
       ['overcast', 'normal'],
       ['sunny', 'high'],
       ['sunny', 'normal'],
       ['rainy', 'normal'],
       ['sunny', 'normal'],
       ['overcast', 'high'],
       ['overcast', 'normal'],
       ['rainy', 'high']], dtype='<U8')

## Files with mixed data type

In [127]:
filename4= 'wine.csv'

data1= np.genfromtxt(filename4,
    delimiter=',',
    names=True, #Look for column header
    dtype=None)
data1_array = np.recfromcsv(filename4)
#The default dtype of the np.recfromcsv() function is None

In [128]:
data1_array

rec.array([(1952, 7.495 , 600, 17.1167, 160, 31, 43183.569),
           (1953, 8.0393, 690, 16.7333,  80, 30, 43495.03 ),
           (1955, 7.6858, 502, 17.15  , 130, 28, 44217.857),
           (1957, 6.9845, 420, 16.1333, 110, 26, 45152.252),
           (1958, 6.7772, 582, 16.4167, 187, 25, 45653.805),
           (1959, 8.0757, 485, 17.4833, 187, 24, 46128.638),
           (1960, 6.5188, 763, 16.4167, 290, 23, 46583.995),
           (1961, 8.4937, 830, 17.3333,  38, 22, 47128.005),
           (1962, 7.388 , 697, 16.3   ,  52, 21, 48088.673),
           (1963, 6.7127, 608, 15.7167, 155, 20, 48798.99 ),
           (1964, 7.3094, 402, 17.2667,  96, 19, 49356.943),
           (1965, 6.2518, 602, 15.3667, 267, 18, 49801.821),
           (1966, 7.7443, 819, 16.5333,  86, 17, 50254.966),
           (1967, 6.8398, 714, 16.2333, 118, 16, 50650.406),
           (1968, 6.2435, 610, 16.2   , 292, 15, 51034.413),
           (1969, 6.3459, 575, 16.55  , 244, 14, 51470.276),
           (1970, 7.5883, 622, 16.6667,  89, 13, 51918.389),
           (1971, 7.1934, 551, 16.7667, 112, 12, 52431.647),
           (1972, 6.2049, 536, 14.9833, 158, 11, 52894.183),
           (1973, 6.6367, 376, 17.0667, 123, 10, 53332.805),
           (1974, 6.2941, 574, 16.3   , 184,  9, 53689.61 ),
           (1975, 7.292 , 572, 16.95  , 171,  8, 53955.042),
           (1976, 7.1211, 418, 17.65  , 247,  7, 54159.049),
           (1977, 6.2587, 821, 15.5833,  87,  6, 54378.362),
           (1978, 7.186 , 763, 15.8167,  51,  5, 54602.193)],
          dtype=[('year', '<i4'), ('price', '<f8'), ('winterrain', '<i4'), ('agst', '<f8'), ('harvestrain', '<i4'), ('age', '<i4'), ('francepop', '<f8')])

In [129]:
data1

array([(1952, 7.495 , 600, 17.1167, 160, 31, 43183.569),
       (1953, 8.0393, 690, 16.7333,  80, 30, 43495.03 ),
       (1955, 7.6858, 502, 17.15  , 130, 28, 44217.857),
       (1957, 6.9845, 420, 16.1333, 110, 26, 45152.252),
       (1958, 6.7772, 582, 16.4167, 187, 25, 45653.805),
       (1959, 8.0757, 485, 17.4833, 187, 24, 46128.638),
       (1960, 6.5188, 763, 16.4167, 290, 23, 46583.995),
       (1961, 8.4937, 830, 17.3333,  38, 22, 47128.005),
       (1962, 7.388 , 697, 16.3   ,  52, 21, 48088.673),
       (1963, 6.7127, 608, 15.7167, 155, 20, 48798.99 ),
       (1964, 7.3094, 402, 17.2667,  96, 19, 49356.943),
       (1965, 6.2518, 602, 15.3667, 267, 18, 49801.821),
       (1966, 7.7443, 819, 16.5333,  86, 17, 50254.966),
       (1967, 6.8398, 714, 16.2333, 118, 16, 50650.406),
       (1968, 6.2435, 610, 16.2   , 292, 15, 51034.413),
       (1969, 6.3459, 575, 16.55  , 244, 14, 51470.276),
       (1970, 7.5883, 622, 16.6667,  89, 13, 51918.389),
       (1971, 7.1934, 551, 16.7667, 112, 12, 52431.647),
       (1972, 6.2049, 536, 14.9833, 158, 11, 52894.183),
       (1973, 6.6367, 376, 17.0667, 123, 10, 53332.805),
       (1974, 6.2941, 574, 16.3   , 184,  9, 53689.61 ),
       (1975, 7.292 , 572, 16.95  , 171,  8, 53955.042),
       (1976, 7.1211, 418, 17.65  , 247,  7, 54159.049),
       (1977, 6.2587, 821, 15.5833,  87,  6, 54378.362),
       (1978, 7.186 , 763, 15.8167,  51,  5, 54602.193)],
      dtype=[('Year', '<i4'), ('Price', '<f8'), ('WinterRain', '<i4'), ('AGST', '<f8'), ('HarvestRain', '<i4'), ('Age', '<i4'), ('FrancePop', '<f8')])

## Importing Flat Files with Pandas

In [163]:
filename5= 'salary_data.csv'
df= pd.read_csv(filename5,
         nrows=5, #Number of rows of file to read 
         header=0, #Row number to use as col names 
         sep=',', #Delimiter  to use 
         comment='#', #Character to split comments 
         na_values=[""]) #String to recognize as NA/NaN

In [164]:
df

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

# Exploring Your Data

In [148]:
#NumPy Array

In [159]:
data.dtype #Data type of array elements

dtype([('Year', '<i4'), ('Price', '<f8'), ('WinterRain', '<i4'), ('AGST', '<f8'), ('HarvestRain', '<i4'), ('Age', '<i4'), ('FrancePop', '<f8')])

In [160]:
data.shape #Array  dimensions

(25,)

In [161]:
len(data) #Length of array

25

In [162]:
# Pandas DataFrames

In [166]:
df.head() #Return first DataFrame rows

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [167]:
df.tail() #Return last DataFrame rows

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [168]:
df.index #Describe index

RangeIndex(start=0, stop=5, step=1)

In [169]:
df.columns #Describe DataFrame columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [170]:
df.info() #Info an DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  5 non-null      float64
 1   Salary           5 non-null      float64
dtypes: float64(2)
memory usage: 208.0 bytes

In [172]:
data_array = df.values #Convert a DataFrame to an a NumPy array

In [175]:
type(data_array)

numpy.ndarray